/* ./components/_Navigation.scss */
.site-navigation {
  position: fixed;
  width:100%;
  height:40px;
  background: HSLA(122, 22%, 25%, 1);
  padding:0 6px;
  border-bottom: HSLA(122, 22%, 22%, 1);
  z-index:3;
  .navigation-primary {
    display: flex;
    width:100%;
    height:100%;
    align-items: center;
    .navigation-logo {
      width:90px;
      height:24px;
      background: rgba(black,.2);
      margin-right:10px;
    }
    .navigation-user {
      display: flex;
      margin-right:auto;
      align-items: center;
      .user-picture {
        width:24px;
        height:24px;
        background: rgba(black,.2);
        margin-right:7px;
      }
      .user-name {
        color:HSLA(120, 6%, 84%, 1);
        font-size:14px;
        font-weight:400;
        text-shadow:0 .5px 0 rgba(black,.2);
      }
    }
    .navigation-notify {
      position: relative;
      display: flex;
      align-items: center;
      height:100%;
      .notify-count {
        position: absolute;
        bottom:-1px; right:-8px;
        background: #426A41;
        color:#DBE7DC;
        font-size:12px;
        padding:2px 2px 2px 1px;
        border-radius:2px;
      }
      &:hover {
        cursor: pointer;
      }
    }
    .navigation-search {
      margin-left:15px;
      .search-field {
        width:410px;
        height:24px;
        color:HSLA(216, 13%, 6%, 1);
        font-size:13px;
        font-weight:400;
        padding:0 7px;
        border:none;
        outline:none;
        @include placeholder {
          color:HSLA(216, 13%, 50%, 1);
        }
      }
    }
  }
}
