.result-buttons {
  position: absolute;
  top:7px; right:6px;
}
.site-search-result {
  position: relative;
  display: flex;
  padding:0 5.5px;
  margin-bottom:5.5px;
  .result-picture {
    width:36px;
    height:36px;
    background: darken(white,50%);
    border-radius:.5px;
    margin-right:5px;
  }
  .result-details {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .detail-title {
      width:100%;
      color:darken(white,65%);
      font-size:15px;
      font-weight:500;
    }
    .detail-network {
      width:100%;
      color:darken(white,52%);
      font-size:14.5px;
      font-weight:400;
      margin-top:3.5px;
    }
  }
  &:hover {
    background: darken(white,3%);
    cursor: pointer;
  }
  &.notifications {

  }
  &.search-all {

  }
}
