.site-search {
  position: relative;
  margin-left:15px;
  .search-field {
    width:410px;
    height:24px;
    background: darken(white,2%);
    color:HSLA(216, 13%, 6%, 1);
    font-size:13px;
    font-weight:400;
    padding:0 7px;
    outline:none;
    @include placeholder {
      color:HSLA(216, 13%, 50%, 1);
    }
  }
  .site-search-results {
    display: none;
    position: absolute;
    top:100%; left:0;
    width:100%;
    background:darken(white,2%);
    padding-top:10px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 1px 0 rgba(black,.03);
    .results-header {
      width:100%;
      background: darken(white,5%);
      color:darken(white,80%);
      font-size:13px;
      font-weight:500;
      padding-top:7px;
      padding-bottom:6px;
      padding-left:6px;
      margin-bottom:8px;
    }
    .results-list {
      position: relative;
      z-index: 1;
      width:100%;
      padding-top:6px;
      margin-top:-7px;
    }
  }
  &.active {
    .search-field {
      border:1px solid darken(white,60%);
      border-bottom:none;
    }
    .site-search-results {
      display: block;
      border:1px solid darken(white,60%);
      border-top:none;
    }
  }
}
