@charset "UTF-8";
/* vendors */
/* ./vendors/_normalize.scss */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* rules added later on */
button {
  border: none;
  outline: none; }

input {
  outline: none;
  background: white;
  font-size: 14px;
  font-weight: 200;
  line-height: 1.4;
  padding: 0 6px;
  border: none; }

textarea {
  outline: none; }

/* settings */
/* calendar settings */
/* utilities */
.hide {
  display: none; }

/* components */
/* ./components/_Navigation.scss */
.site-navigation {
  position: fixed;
  width: 100%;
  height: 40px;
  background: HSLA(122, 22%, 25%, 1);
  padding: 0 6px;
  border-bottom: HSLA(122, 22%, 22%, 1);
  z-index: 3; }
  .site-navigation .navigation-primary {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center; }
    .site-navigation .navigation-primary .navigation-logo {
      width: 90px;
      height: 24px;
      background: rgba(0, 0, 0, 0.2);
      margin-right: 10px; }
    .site-navigation .navigation-primary .navigation-user {
      display: flex;
      margin-right: auto;
      align-items: center; }
      .site-navigation .navigation-primary .navigation-user .user-picture {
        width: 24px;
        height: 24px;
        background: rgba(0, 0, 0, 0.2);
        margin-right: 7px; }
      .site-navigation .navigation-primary .navigation-user .user-name {
        color: HSLA(120, 6%, 84%, 1);
        font-size: 14px;
        font-weight: 400;
        text-shadow: 0 0.5px 0 rgba(0, 0, 0, 0.2); }

/* ./components/_Navigation.scss */
.site-side-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 180px;
  height: 100%;
  background: HSLA(0, 0%, 98%, 1);
  padding-top: 40px;
  border-right: 1px solid HSLA(0, 0%, 84%, 1); }
  .site-side-navigation .side-navigation-primary {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding-top: 15px; }
    .site-side-navigation .side-navigation-primary .site-modules {
      width: 100%; }
      .site-side-navigation .side-navigation-primary .site-modules .module {
        width: 100%;
        margin-bottom: 30px; }
        .site-side-navigation .side-navigation-primary .site-modules .module .module-header {
          width: 100%;
          font-size: 13px;
          font-weight: 500;
          padding: 0 7px 4px 7px;
          border-bottom: 1px solid HSLA(0, 0%, 84%, 1);
          margin-bottom: 4px; }
          .site-side-navigation .side-navigation-primary .site-modules .module .module-header .header-title {
            color: #1a1a1a;
            font-size: 15px;
            font-weight: 500; }
        .site-side-navigation .side-navigation-primary .site-modules .module .module-features {
          width: 100%; }
          .site-side-navigation .side-navigation-primary .site-modules .module .module-features .feature {
            display: flex;
            align-items: center;
            width: 100%;
            color: #4d4d4d;
            padding: 6px 7px 5px 7px; }
            .site-side-navigation .side-navigation-primary .site-modules .module .module-features .feature .feature-label {
              font-size: 13px;
              font-weight: 500;
              line-height: 1.4;
              margin-right: auto;
              display: inline-block;
              max-width: 87%;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              word-wrap: normal; }
            .site-side-navigation .side-navigation-primary .site-modules .module .module-features .feature .feature-notify-count {
              font-size: 11px;
              font-weight: 600;
              margin-top: 1px; }
            .site-side-navigation .side-navigation-primary .site-modules .module .module-features .feature:hover {
              background: #f2f2f2;
              cursor: pointer; }
    .site-side-navigation .side-navigation-primary .site-options {
      display: flex;
      align-self: flex-end;
      flex-basis: 100%;
      height: 32px;
      border-top: 1px solid HSLA(0, 0%, 84%, 1); }
      .site-side-navigation .side-navigation-primary .site-options .option-collapse {
        width: 40px;
        height: 100%;
        color: #595959;
        border-right: 1px solid HSLA(0, 0%, 84%, 1); }
      .site-side-navigation .side-navigation-primary .site-options .option-create-event {
        align-self: center;
        width: 32px;
        height: 100%;
        color: #595959;
        font-size: 15px;
        padding-top: 8px;
        padding-left: 10px;
        border-left: 1px solid HSLA(0, 0%, 84%, 1);
        margin-left: auto; }
        .site-side-navigation .side-navigation-primary .site-options .option-create-event:hover {
          background-color: #f7f7f7;
          cursor: pointer; }

.site-chat-bar {
  position: fixed;
  top: 0;
  right: 0;
  width: 180px;
  height: 100%;
  background: HSLA(0, 0%, 98%, 1);
  padding-top: 40px;
  border-left: 1px solid HSLA(0, 0%, 84%, 1); }
  .site-chat-bar .chat-bar-primary {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding-top: 5px; }
    .site-chat-bar .chat-bar-primary .chat-bar-users {
      width: 100%; }
      .site-chat-bar .chat-bar-primary .chat-bar-users .chat-bar-user {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0 7px 0 5px;
        margin-bottom: 5px; }
        .site-chat-bar .chat-bar-primary .chat-bar-users .chat-bar-user .user-picture {
          width: 26px;
          height: 26px;
          background-color: HSLA(0, 0%, 80%, 1);
          margin-right: 5px; }
        .site-chat-bar .chat-bar-primary .chat-bar-users .chat-bar-user .user-name {
          color: #404040;
          font-size: 13px;
          font-weight: 300; }
        .site-chat-bar .chat-bar-primary .chat-bar-users .chat-bar-user:hover {
          background: whitesmoke;
          cursor: pointer; }
    .site-chat-bar .chat-bar-primary .chat-bar-options {
      display: flex;
      align-self: flex-end;
      align-items: center;
      width: 100%;
      height: 32px;
      background: #fcfcfc;
      border-top: 1px solid HSLA(0, 0%, 84%, 1); }
      .site-chat-bar .chat-bar-primary .chat-bar-options .option-search {
        width: 90%;
        height: 100%;
        border-right: 1px solid #e8e8e8;
        margin-right: auto; }
        .site-chat-bar .chat-bar-primary .chat-bar-options .option-search input {
          width: 100%;
          height: 100%;
          font-size: 13px;
          padding-left: 6px;
          border: none;
          outline: none; }
          .site-chat-bar .chat-bar-primary .chat-bar-options .option-search input::-webkit-input-placeholder {
            color: gray;
            font-weight: 400; }
          .site-chat-bar .chat-bar-primary .chat-bar-options .option-search input::-moz-placeholder {
            color: gray;
            font-weight: 400; }
          .site-chat-bar .chat-bar-primary .chat-bar-options .option-search input:-moz-placeholder {
            color: gray;
            font-weight: 400; }
          .site-chat-bar .chat-bar-primary .chat-bar-options .option-search input:-ms-input-placeholder {
            color: gray;
            font-weight: 400; }
      .site-chat-bar .chat-bar-primary .chat-bar-options .option-status {
        display: flex;
        width: 32px;
        height: 100%;
        border-left: HSLA(0, 0%, 84%, 1); }
        .site-chat-bar .chat-bar-primary .chat-bar-options .option-status .status-tick {
          align-self: center;
          width: 8px;
          height: 8px;
          background: #648966;
          border-radius: 5000px;
          margin-left: 9.5px; }

.site-profile {
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-left: 190px;
  padding-right: 190px;
  z-index: 1; }
  .site-profile .profile-hero {
    width: 100%; }
    .site-profile .profile-hero .hero-cover {
      display: flex;
      width: 100%;
      height: 120px;
      background: #C5C5C5;
      border-bottom-left-radius: 1px;
      border-bottom-right-radius: 1px; }
      .site-profile .profile-hero .hero-cover .hero-details {
        display: flex;
        align-self: flex-end; }
        .site-profile .profile-hero .hero-cover .hero-details .hero-picture {
          position: relative;
          bottom: -32px;
          width: 140px;
          height: 140px;
          background: #999999;
          border-radius: 1px;
          margin-left: 11px; }
        .site-profile .profile-hero .hero-cover .hero-details .hero-name {
          align-self: flex-end;
          color: #3d3d3d;
          font-size: 21px;
          font-weight: 500;
          margin-bottom: 5.5px;
          margin-left: 6px; }
    .site-profile .profile-hero .hero-tabs {
      display: flex;
      width: 100%;
      padding-left: 149px; }
      .site-profile .profile-hero .hero-tabs .hero-tab {
        color: #545454;
        font-size: 15px;
        font-weight: 400;
        padding: 10px 11px 8px 11px; }
        .site-profile .profile-hero .hero-tabs .hero-tab:hover {
          color: #333333;
          font-weight: 500;
          cursor: pointer; }
  .site-profile .profile-section {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    padding-left: 11px;
    margin-top: 30px; }
    .site-profile .profile-section .profile-navigation {
      width: 19.7%; }
      .site-profile .profile-section .profile-navigation .navigation-tab {
        width: 100%;
        color: #404040;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 20px; }
        .site-profile .profile-section .profile-navigation .navigation-tab:hover {
          color: #1a1a1a;
          cursor: pointer; }
    .site-profile .profile-section .profile-content {
      width: 80.3%; }
      .site-profile .profile-section .profile-content .content-set {
        width: 450px;
        padding-top: 22px;
        padding-bottom: 22px;
        border-top: 1px solid #e6e6e6; }
        .site-profile .profile-section .profile-content .content-set .set-item {
          display: flex;
          flex-wrap: nowrap;
          margin-top: 25px; }
          .site-profile .profile-section .profile-content .content-set .set-item .item-picture {
            width: 41.5px;
            height: 41.5px;
            background: #999999;
            margin-right: 7px; }
          .site-profile .profile-section .profile-content .content-set .set-item .item-details {
            padding-top: 2px; }
            .site-profile .profile-section .profile-content .content-set .set-item .item-details .detail-title {
              color: #3b3b3b;
              font-size: 15px;
              font-weight: 500; }
            .site-profile .profile-section .profile-content .content-set .set-item .item-details .detail-other {
              display: flex;
              align-items: center;
              color: #666666;
              font-size: 14.5px;
              font-weight: 300;
              margin-top: 10px; }
              .site-profile .profile-section .profile-content .content-set .set-item .item-details .detail-other .other-detail:before {
                display: inline-block;
                content: '•';
                font-size: 6px;
                margin: -8px 5px 0 5px; }
              .site-profile .profile-section .profile-content .content-set .set-item .item-details .detail-other .other-detail:first-child:before {
                content: none; }
          .site-profile .profile-section .profile-content .content-set .set-item:first-child {
            margin-top: 0; }
        .site-profile .profile-section .profile-content .content-set:first-child {
          padding-top: 0;
          border-top: none; }
      .site-profile .profile-section .profile-content .add-item-trigger {
        background: #f7f7f7;
        color: #d8d8d8;
        font-size: 12px;
        font-weight: 500;
        padding: 3px 7px 2px 7px;
        margin-top: 7px; }
        .site-profile .profile-section .profile-content .add-item-trigger:hover, .site-profile .profile-section .profile-content .add-item-trigger.active {
          background: #F0F0F0;
          color: #515151;
          cursor: pointer; }

.profile-about-add-item {
  width: 450px;
  margin-top: 5px; }
  .profile-about-add-item .item-details {
    background: whitesmoke;
    padding: 6px; }
    .profile-about-add-item .item-details .details-set {
      display: flex;
      flex-wrap: nowrap;
      margin-top: 6px; }
      .profile-about-add-item .item-details .details-set .detail-field {
        width: 343px;
        height: 25px;
        background: white;
        font-size: 14px;
        font-weight: 200;
        padding: 0 6px;
        border: none;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.04);
        margin-left: 7px; }
        .profile-about-add-item .item-details .details-set .detail-field.half-field {
          width: 50%; }
        .profile-about-add-item .item-details .details-set .detail-field.when {
          margin-left: 0; }
        .profile-about-add-item .item-details .details-set .detail-field.where {
          width: 100%;
          margin-left: 0; }
        .profile-about-add-item .item-details .details-set .detail-field::-webkit-input-placeholder {
          color: #383838;
          font-weight: 300; }
        .profile-about-add-item .item-details .details-set .detail-field::-moz-placeholder {
          color: #383838;
          font-weight: 300; }
        .profile-about-add-item .item-details .details-set .detail-field:-moz-placeholder {
          color: #383838;
          font-weight: 300; }
        .profile-about-add-item .item-details .details-set .detail-field:-ms-input-placeholder {
          color: #383838;
          font-weight: 300; }
      .profile-about-add-item .item-details .details-set:first-child {
        margin-top: 0; }
  .profile-about-add-item .submit-options {
    display: flex;
    justify-content: flex-end; }
    .profile-about-add-item .submit-options .item-cancel {
      background: #F0F0F0;
      color: #595959;
      font-size: 12px;
      font-weight: 500;
      padding: 3px 7px 2px 7px;
      margin-top: 7px;
      margin-right: 6px; }
      .profile-about-add-item .submit-options .item-cancel:hover {
        background: #e8e8e8;
        cursor: pointer; }
    .profile-about-add-item .submit-options .item-submit {
      background: #F0F0F0;
      color: #595959;
      font-size: 12px;
      font-weight: 500;
      padding: 3px 7px 2px 7px;
      margin-top: 7px; }
      .profile-about-add-item .submit-options .item-submit:hover {
        background: #e8e8e8;
        cursor: pointer; }

.dropdown .dropdown-header {
  float: left;
  background: white;
  padding-right: 7px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.035); }
  .dropdown .dropdown-header .dropdown-picture {
    float: left;
    width: 26px;
    height: 26px;
    background: HSLA(0, 0%, 79%, 1); }
  .dropdown .dropdown-header .dropdown-label {
    float: left;
    font-size: 13px;
    font-weight: 200;
    padding: 6px 6px 5px 6px; }
  .dropdown .dropdown-header .dropdown-caret {
    float: left;
    color: HSLA(200, 2%, 32%, 0.7);
    font-size: 10px;
    font-weight: 200;
    margin-top: 8px; }
  .dropdown .dropdown-header:hover {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.055);
    cursor: pointer; }
    .dropdown .dropdown-header:hover .dropdown-label {
      color: HSLA(200, 2%, 20%, 1); }
    .dropdown .dropdown-header:hover .dropdown-caret {
      color: HSLA(200, 2%, 32%, 0.9); }

.connection-button {
  display: flex; }
  .connection-button .button-add-friend {
    background: #8E968E;
    color: #F3F4F3;
    font-size: 12px;
    padding: 5px 5px 4px 6px;
    border-top: 1px solid #777A77;
    border-bottom: 1px solid #777A77;
    border-left: 1px solid #777A77;
    border-right: 1px solid #777A77;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); }
    .connection-button .button-add-friend:hover {
      background: #7b857b;
      cursor: pointer; }

.profile-member {
  display: inline-block;
  width: 33%;
  margin-bottom: 30px; }
  .profile-member .member-picture {
    float: left;
    width: 69px;
    height: 69px;
    background: #999999;
    margin-right: 6.5px; }
  .profile-member .member-details {
    float: left; }
    .profile-member .member-details .detail-name {
      color: #3b3b3b;
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 6.5px; }
    .profile-member .member-details .detail-mutual {
      color: #3b3b3b;
      font-size: 14px;
      font-weight: 300;
      margin-bottom: 9px; }

.site-search {
  position: relative;
  margin-left: 15px; }
  .site-search .search-field {
    width: 410px;
    height: 24px;
    background: #fafafa;
    color: HSLA(216, 13%, 6%, 1);
    font-size: 13px;
    font-weight: 400;
    padding: 0 7px;
    outline: none; }
    .site-search .search-field::-webkit-input-placeholder {
      color: HSLA(216, 13%, 50%, 1); }
    .site-search .search-field::-moz-placeholder {
      color: HSLA(216, 13%, 50%, 1); }
    .site-search .search-field:-moz-placeholder {
      color: HSLA(216, 13%, 50%, 1); }
    .site-search .search-field:-ms-input-placeholder {
      color: HSLA(216, 13%, 50%, 1); }
  .site-search .site-search-results {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fafafa;
    padding-top: 10px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03); }
    .site-search .site-search-results .results-header {
      width: 100%;
      background: #f2f2f2;
      color: #333333;
      font-size: 13px;
      font-weight: 500;
      padding-top: 7px;
      padding-bottom: 6px;
      padding-left: 6px;
      margin-bottom: 8px; }
    .site-search .site-search-results .results-list {
      position: relative;
      z-index: 1;
      width: 100%;
      padding-top: 6px;
      margin-top: -7px; }
  .site-search.active .search-field {
    border: 1px solid #666666;
    border-bottom: none; }
  .site-search.active .site-search-results {
    display: block;
    border: 1px solid #666666;
    border-top: none; }

.site-search-result {
  display: flex;
  padding: 0 5.5px;
  margin-bottom: 5.5px; }
  .site-search-result .result-picture {
    width: 41px;
    height: 41px;
    background: #BFBFBF;
    margin-right: 5px; }
  .site-search-result .result-details {
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    .site-search-result .result-details .detail-title {
      width: 100%;
      color: #4d4d4d;
      font-size: 14px;
      font-weight: 500; }
    .site-search-result .result-details .detail-network {
      width: 100%;
      color: #7a7a7a;
      font-size: 14.5px;
      font-weight: 400;
      margin-top: 3.5px; }
  .site-search-result:hover {
    background: #f7f7f7;
    cursor: pointer; }

.site-notify {
  position: relative; }
  .site-notify .site-notify-trigger {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%; }
    .site-notify .site-notify-trigger .notify-count {
      position: absolute;
      bottom: -14px;
      right: -8px;
      background: #426A41;
      color: #DBE7DC;
      font-size: 12px;
      font-family: 'Helvetica';
      padding: 2px 2px 2px 1px;
      border-radius: 2px; }
    .site-notify .site-notify-trigger:hover {
      cursor: pointer; }
  .site-notify .site-notify-results {
    display: none;
    position: absolute;
    top: 40px;
    left: -192px;
    width: 400px;
    background: #FAFAFA;
    border: 1px solid gray;
    border-radius: 1px; }
    .site-notify .site-notify-results .results-arrow {
      position: relative;
      /* Required for Down Triangle */
      /* Stroke */
      /* Fill */
      -webkit-transform: rotateX(180deg);
      -moz-transform: rotateX(180deg);
      -ms-transform: rotateX(180deg);
      -o-transform: rotateX(180deg);
      transform: rotateX(180deg);
      bottom: -7px;
      left: 41.8%; }
      .site-notify .site-notify-results .results-arrow .tri {
        /* Styling block element, not required */
        position: relative; }
      .site-notify .site-notify-results .results-arrow .tri:before, .site-notify .site-notify-results .results-arrow .tri:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent;
        border-bottom: 0; }
      .site-notify .site-notify-results .results-arrow .tri:before {
        bottom: -16px;
        left: 21px;
        /* If 1px darken stroke slightly */
        border-top-color: #666666;
        border-width: 9px; }
      .site-notify .site-notify-results .results-arrow .tri:after {
        bottom: -15px;
        left: 22px;
        border-top-color: #F2F2F2;
        border-width: 8px; }
    .site-notify .site-notify-results .results-header {
      width: 100%;
      background: #f2f2f2;
      color: #333333;
      font-size: 13px;
      font-weight: 500;
      padding-top: 7px;
      padding-bottom: 6px;
      padding-left: 6px;
      margin-bottom: 8px; }
    .site-notify .site-notify-results .results-list {
      position: relative;
      z-index: 1;
      width: 100%;
      padding-top: 6px;
      margin-top: -7px; }

.site-notify-result {
  position: relative;
  display: flex;
  padding: 0 5.5px;
  margin-bottom: 5.5px; }
  .site-notify-result .connection-button {
    position: absolute;
    top: 9px;
    right: 6px; }
  .site-notify-result .result-picture {
    width: 41px;
    height: 41px;
    background: #BFBFBF;
    margin-right: 5px; }
  .site-notify-result .result-details {
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    .site-notify-result .result-details .detail-title {
      width: 100%;
      color: #4d4d4d;
      font-size: 15px;
      font-weight: 500; }
    .site-notify-result .result-details .detail-network {
      width: 100%;
      color: #7a7a7a;
      font-size: 14.5px;
      font-weight: 400;
      margin-top: 3.5px; }
  .site-notify-result:hover {
    background: #f7f7f7;
    cursor: pointer; }

.site-create-event {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999; }
  .site-create-event .modal-frame {
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-grid-row-align: center;
    align-items: center; }
    .site-create-event .modal-frame .create-event-window {
      display: flex;
      flex-wrap: wrap;
      width: 820px;
      background: white;
      border: 1px solid #797979;
      border-radius: 1px;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); }
      .site-create-event .modal-frame .create-event-window .window-left {
        width: 80%; }
        .site-create-event .modal-frame .create-event-window .window-left .window-header {
          position: relative;
          width: 100%;
          border-bottom: 1px solid #DADADA; }
          .site-create-event .modal-frame .create-event-window .window-left .window-header .event-category {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%; }
            .site-create-event .modal-frame .create-event-window .window-left .window-header .event-category .dropdown-header {
              height: 28px;
              padding-top: 2px;
              border-left: 1px solid #e3e3e3; }
          .site-create-event .modal-frame .create-event-window .window-left .window-header .event-title {
            width: 100%;
            background: #F5F5F5;
            font-size: 14px;
            font-weight: 400;
            padding: 5px 5px 4px 5px; }
            .site-create-event .modal-frame .create-event-window .window-left .window-header .event-title::-webkit-input-placeholder {
              color: #4d4d4d;
              font-weight: 400; }
            .site-create-event .modal-frame .create-event-window .window-left .window-header .event-title::-moz-placeholder {
              color: #4d4d4d;
              font-weight: 400; }
            .site-create-event .modal-frame .create-event-window .window-left .window-header .event-title:-moz-placeholder {
              color: #4d4d4d;
              font-weight: 400; }
            .site-create-event .modal-frame .create-event-window .window-left .window-header .event-title:-ms-input-placeholder {
              color: #4d4d4d;
              font-weight: 400; }
        .site-create-event .modal-frame .create-event-window .window-left .window-details {
          display: flex;
          flex-wrap: wrap;
          width: 100%; }
          .site-create-event .modal-frame .create-event-window .window-left .window-details .event-description {
            width: 100%;
            height: 70px;
            background: #FCFCFC;
            font-size: 14px;
            padding: 5px 5px 4px 5px;
            border: none;
            border-bottom: 1px solid #E0E0E0;
            resize: none; }
            .site-create-event .modal-frame .create-event-window .window-left .window-details .event-description::-webkit-input-placeholder {
              color: #666666;
              font-weight: 400; }
            .site-create-event .modal-frame .create-event-window .window-left .window-details .event-description::-moz-placeholder {
              color: #666666;
              font-weight: 400; }
            .site-create-event .modal-frame .create-event-window .window-left .window-details .event-description:-moz-placeholder {
              color: #666666;
              font-weight: 400; }
            .site-create-event .modal-frame .create-event-window .window-left .window-details .event-description:-ms-input-placeholder {
              color: #666666;
              font-weight: 400; }
          .site-create-event .modal-frame .create-event-window .window-left .window-details .details-left {
            width: 35%;
            height: 345px;
            padding: 12px 6px 6px 6px; }
            .site-create-event .modal-frame .create-event-window .window-left .window-details .details-left .event-detail {
              width: 100%; }
              .site-create-event .modal-frame .create-event-window .window-left .window-details .details-left .event-detail .detail-search {
                position: relative;
                width: 100%; }
                .site-create-event .modal-frame .create-event-window .window-left .window-details .details-left .event-detail .detail-search .location-map {
                  display: none;
                  width: 100%;
                  height: 100px;
                  background: white;
                  padding-top: 5px;
                  border: 1px solid #f8f8f8;
                  margin-top: 6px; }
                .site-create-event .modal-frame .create-event-window .window-left .window-details .details-left .event-detail .detail-search .search-field {
                  width: 100%;
                  color: #4d4d4d;
                  font-weight: 400;
                  padding: 5px 5px 5px 5px;
                  border: 1px solid #dbdbdb;
                  border-radius: 1px;
                  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.01); }
                  .site-create-event .modal-frame .create-event-window .window-left .window-details .details-left .event-detail .detail-search .search-field::-webkit-input-placeholder {
                    color: #737373;
                    font-weight: 300; }
                  .site-create-event .modal-frame .create-event-window .window-left .window-details .details-left .event-detail .detail-search .search-field::-moz-placeholder {
                    color: #737373;
                    font-weight: 300; }
                  .site-create-event .modal-frame .create-event-window .window-left .window-details .details-left .event-detail .detail-search .search-field:-moz-placeholder {
                    color: #737373;
                    font-weight: 300; }
                  .site-create-event .modal-frame .create-event-window .window-left .window-details .details-left .event-detail .detail-search .search-field:-ms-input-placeholder {
                    color: #737373;
                    font-weight: 300; }
                .site-create-event .modal-frame .create-event-window .window-left .window-details .details-left .event-detail .detail-search .search-picked {
                  width: 100%;
                  padding-top: 5px;
                  margin-top: 5px; }
                .site-create-event .modal-frame .create-event-window .window-left .window-details .details-left .event-detail .detail-search .search-suggested {
                  position: absolute;
                  top: 37px;
                  width: 100%;
                  width: 100%;
                  background: #FAFAFA;
                  padding-top: 5px;
                  border: 1px solid #DBDBDB; }
              .site-create-event .modal-frame .create-event-window .window-left .window-details .details-left .event-detail .detail-result {
                display: flex;
                align-items: center;
                width: 100%;
                padding: 0 5px 0 5px;
                margin-bottom: 5px; }
                .site-create-event .modal-frame .create-event-window .window-left .window-details .details-left .event-detail .detail-result .result-picture {
                  width: 25px;
                  height: 25px;
                  margin-right: 5px; }
                  .site-create-event .modal-frame .create-event-window .window-left .window-details .details-left .event-detail .detail-result .result-picture img {
                    width: 100%; }
                .site-create-event .modal-frame .create-event-window .window-left .window-details .details-left .event-detail .detail-result .result-name {
                  color: #666666;
                  font-size: 14px;
                  font-weight: 400;
                  margin-top: 1px;
                  margin-right: auto; }
                .site-create-event .modal-frame .create-event-window .window-left .window-details .details-left .event-detail .detail-result .result-remove {
                  color: #D4D4D4;
                  font-size: 12px;
                  opacity: 0; }
                  .site-create-event .modal-frame .create-event-window .window-left .window-details .details-left .event-detail .detail-result .result-remove:hover {
                    color: #949494; }
                .site-create-event .modal-frame .create-event-window .window-left .window-details .details-left .event-detail .detail-result:hover {
                  background: rgba(0, 0, 0, 0.02);
                  cursor: pointer; }
                  .site-create-event .modal-frame .create-event-window .window-left .window-details .details-left .event-detail .detail-result:hover .result-remove {
                    opacity: 1; }
              .site-create-event .modal-frame .create-event-window .window-left .window-details .details-left .event-detail.members {
                height: 295px; }
          .site-create-event .modal-frame .create-event-window .window-left .window-details .details-right {
            width: 65%;
            height: 345px;
            padding: 12px 6px 6px 6px; }
            .site-create-event .modal-frame .create-event-window .window-left .window-details .details-right .small-calendar-wrap {
              display: flex;
              flex-wrap: wrap;
              flex-direction: column;
              height: 100%; }
              .site-create-event .modal-frame .create-event-window .window-left .window-details .details-right .small-calendar-wrap .site-calendar {
                display: flex;
                flex-grow: 1;
                flex-shrink: 1;
                flex-basis: auto;
                flex-direction: column; }
                .site-create-event .modal-frame .create-event-window .window-left .window-details .details-right .small-calendar-wrap .site-calendar .calendar-header .previous-month, .site-create-event .modal-frame .create-event-window .window-left .window-details .details-right .small-calendar-wrap .site-calendar .calendar-header .next-month {
                  font-size: 12px;
                  padding: 2px 4px 3px 4px; }
                .site-create-event .modal-frame .create-event-window .window-left .window-details .details-right .small-calendar-wrap .site-calendar .calendar-header .current-month {
                  font-size: 15px;
                  font-weight: 400;
                  margin-top: 1px; }
        .site-create-event .modal-frame .create-event-window .window-left .window-submit {
          display: flex;
          justify-content: flex-end;
          background: #FAFAFA;
          padding: 5px 5px;
          border-top: 1px solid #E8E8E8; }
          .site-create-event .modal-frame .create-event-window .window-left .window-submit .cancel-button {
            background: whitesmoke;
            color: #858585;
            font-size: 12px;
            font-weight: 500;
            text-shadow: 0 0.5px 0 rgba(0, 0, 0, 0.04);
            padding: 3px 5px 3px 5px;
            border-top: 1px solid #cfcfcf;
            border-bottom: 1px solid #cccccc;
            border-left: 1px solid #d1d1d1;
            border-right: 1px solid #d1d1d1;
            box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
            margin-right: 7px; }
            .site-create-event .modal-frame .create-event-window .window-left .window-submit .cancel-button:hover {
              background: #e6e6e6;
              color: #858585;
              border-top: 1px solid #b3b3b3;
              border-bottom: 1px solid #b3b3b3;
              border-left: 1px solid #b3b3b3;
              border-right: 1px solid #b3b3b3;
              box-shadow: 0 1px 0 rgba(0, 0, 0, 0.16);
              cursor: pointer; }
          .site-create-event .modal-frame .create-event-window .window-left .window-submit .submit-button {
            background: #8C938C;
            color: #EAEBEA;
            font-size: 12px;
            font-weight: 500;
            padding: 3px 5px 3px 5px;
            border-top: 1px solid #828882;
            border-bottom: 1px solid #636963;
            border-left: 1px solid #7B827B;
            border-right: 1px solid #798079;
            box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); }
            .site-create-event .modal-frame .create-event-window .window-left .window-submit .submit-button:hover {
              background: #727a72;
              color: #eff0ef;
              border-top: 1px solid #757b75;
              border-bottom: 1px solid #575c57;
              border-left: 1px solid #6f756f;
              border-right: 1px solid #6d736d;
              box-shadow: 0 1px 0 rgba(0, 0, 0, 0.16);
              cursor: pointer; }
      .site-create-event .modal-frame .create-event-window .create-event-dates {
        display: flex;
        flex-direction: column;
        width: 20%;
        height: 480px;
        border-left: 1px solid #E0E0E0; }

.site-calendar {
  display: flex;
  width: 100%;
  height: 100%; }
  .site-calendar .calendar-header {
    display: flex;
    align-items: center;
    width: 100%; }
    .site-calendar .calendar-header .previous-month, .site-calendar .calendar-header .next-month {
      background: #F8F8F8;
      color: #9F9F9F;
      font-size: 13px;
      font-weight: 500;
      border: 1px solid #C8C8C8;
      padding: 2px 4px 4px 4px;
      margin-left: 8px;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.04); }
      .site-calendar .calendar-header .previous-month:hover, .site-calendar .calendar-header .next-month:hover {
        background: #f3f3f3;
        color: #868686;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
        cursor: pointer; }
    .site-calendar .calendar-header .current-month {
      color: #666666;
      font-size: 16px;
      font-weight: 500;
      margin-right: auto; }
  .site-calendar .calendar-weeknames {
    display: flex;
    margin-top: 10px; }
    .site-calendar .calendar-weeknames .calendar-weekname {
      width: 14.28571%;
      color: #666666;
      font-size: 13px;
      font-weight: 400; }
  .site-calendar .calendar-weekdays {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 17px; }
    .site-calendar .calendar-weekdays .calendar-weekday {
      width: 14.28571%;
      color: #666666;
      font-size: 13px;
      font-weight: 500; }
  .site-calendar .calendar-month {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    margin-top: 5px; }
    .site-calendar .calendar-month .calendar-week {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: auto; }
      .site-calendar .calendar-month .calendar-week .calendar-weekday {
        flex-basis: 14.28571%;
        background: #fbfbfb;
        padding: 4px 4px;
        border-top: 1px solid #e6e6e6;
        border-left: 1px solid #e6e6e6; }
        .site-calendar .calendar-month .calendar-week .calendar-weekday .weekday-header {
          display: flex;
          justify-content: flex-end; }
          .site-calendar .calendar-month .calendar-week .calendar-weekday .weekday-header .header-count {
            color: #737373;
            font-size: 13px;
            font-weight: 400; }
        .site-calendar .calendar-month .calendar-week .calendar-weekday:first-child {
          border-left: none; }
        .site-calendar .calendar-month .calendar-week .calendar-weekday.different-month {
          background: whitesmoke; }
        .site-calendar .calendar-month .calendar-week .calendar-weekday:hover {
          -webkit-box-shadow: inset 2px -1px 25px 2px rgba(24, 39, 24, 0.04);
          -moz-box-shadow: inset 2px -1px 25px 2px rgba(24, 39, 24, 0.04);
          box-shadow: inset 2px -1px 25px 2px rgba(24, 39, 24, 0.04);
          cursor: pointer; }
      .site-calendar .calendar-month .calendar-week:first-child .calendar-weekday {
        border-top: none; }

.create-date-set {
  width: 100%;
  margin-bottom: 11px; }
  .create-date-set .date-value {
    display: flex;
    width: 100%;
    background: #fafafa;
    color: #666666;
    font-size: 13px;
    font-weight: 400;
    padding: 8px 6px 7px 6px; }
    .create-date-set .date-value .value-literal {
      margin-right: auto; }
    .create-date-set .date-value .remove-date {
      color: #d4d4d4;
      font-size: 12px; }
      .create-date-set .date-value .remove-date:hover {
        color: #b3b3b3;
        cursor: pointer; }
  .create-date-set .date-hours {
    width: 100%;
    padding-top: 3.5px; }
    .create-date-set .date-hours .hour-set, .create-date-set .date-hours .until-date {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
      padding: 4px 6px; }
      .create-date-set .date-hours .hour-set .set-label, .create-date-set .date-hours .until-date .set-label {
        width: 30%;
        color: #4d4d4d;
        font-size: 14px;
        font-weight: 300; }
      .create-date-set .date-hours .hour-set .set-options, .create-date-set .date-hours .until-date .set-options {
        display: flex;
        width: 70%;
        color: gray;
        align-items: center; }
    .create-date-set .date-hours .until-date {
      margin-top: 4px; }
      .create-date-set .date-hours .until-date .select-date-trigger {
        display: flex;
        background: #8C938C;
        color: #f8f8f8;
        font-size: 11px;
        font-weight: 500;
        text-transform: uppercase;
        padding: 4px 3px 3px 4px;
        border-top: 1px solid #828882;
        border-bottom: 1px solid #636963;
        border-left: 1px solid #7B827B;
        border-right: 1px solid #798079;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
        opacity: .4; }
        .create-date-set .date-hours .until-date .select-date-trigger:hover {
          opacity: .8;
          cursor: pointer; }
    .create-date-set .date-hours .hour-set .set-options .hour, .create-date-set .date-hours .hour-set .set-options .minutes {
      width: 31.5px;
      background: #f7f7f7;
      font-size: 12px;
      font-weight: 300;
      text-align: center;
      padding: 2px 0 1px 0;
      border-radius: 1px; }
      .create-date-set .date-hours .hour-set .set-options .hour::-webkit-input-placeholder, .create-date-set .date-hours .hour-set .set-options .minutes::-webkit-input-placeholder {
        color: #a1a1a1;
        font-weight: 400; }
      .create-date-set .date-hours .hour-set .set-options .hour::-moz-placeholder, .create-date-set .date-hours .hour-set .set-options .minutes::-moz-placeholder {
        color: #a1a1a1;
        font-weight: 400; }
      .create-date-set .date-hours .hour-set .set-options .hour:-moz-placeholder, .create-date-set .date-hours .hour-set .set-options .minutes:-moz-placeholder {
        color: #a1a1a1;
        font-weight: 400; }
      .create-date-set .date-hours .hour-set .set-options .hour:-ms-input-placeholder, .create-date-set .date-hours .hour-set .set-options .minutes:-ms-input-placeholder {
        color: #a1a1a1;
        font-weight: 400; }
    .create-date-set .date-hours .hour-set .set-options .hour {
      margin-right: 3px; }
    .create-date-set .date-hours .hour-set .set-options .minutes {
      margin-left: 5px; }
  .create-date-set:first-child {
    border-top: none; }

/* ./utilities/_grid.scss */
#root {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: HSLA(0, 0%, 97%, 1);
  font-family: 'Helvetica';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow: hidden; }
  #root * {
    box-sizing: border-box; }
  #root .site-main {
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    flex-direction: column;
    height: 100%;
    padding-top: 40px;
    padding-left: 195px;
    padding-right: 193px; }
    #root .site-main > div {
      display: flex;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: auto;
      flex-direction: column; }
    #root .site-main .site-main-header {
      display: flex;
      color: #4d4d4d;
      font-size: 18px;
      font-weight: 500;
      margin-top: 16px;
      margin-bottom: 10px; }

/*# sourceMappingURL=app.css.map */
