/* vendors */
@import "./vendors/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "./vendors/_normalize.scss";

/* components */
@import './components/_Navigation.scss';
@import './components/_SideNavigation.scss';
@import './components/_ChatBar.scss';
@import './components/_Profile.scss';
@import './components/_ProfileAboutAddItem.scss';
@import './components/_Dropdown.scss';
@import './components/_ConnectionButton.scss';
@import './components/_ProfileMember.scss';
@import './components/_Search.scss';
@import './components/_SearchResult.scss';
@import './components/_Notify.scss';

/* ./utilities/_grid.scss */
#root {
  position: absolute;
  top:0;
  width:100%;
  height:100%;
  background: HSLA(0, 0%, 97%, 1);
  font-family:'Helvetica';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow:hidden;
  * {
    box-sizing: border-box;
  }
}
