/* fonts */
//@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,600,400italic,700,600italic,700italic,800,800italic);

/* vendors */
@import "./vendors/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "./vendors/_normalize.scss";
@import './vendors/GeoSuggest.scss';

/* settings */
@import './settings.scss';

/* utilities */
@import './utilities/_display.scss';
@import './utilities/_shapes.scss';

/* components */
@import './components/_Navigation.scss';
@import './components/_SideNavigation.scss';
@import './components/_ChatBar.scss';
@import './components/_Profile.scss';
@import './components/_ProfileAboutAddItem.scss';
@import './components/_Dropdown.scss';
@import './components/_ConnectionButton.scss';
@import './components/_ProfileMember.scss';
@import './components/_Search.scss';
@import './components/_SearchResult.scss';
@import './components/_Notify.scss';
@import './components/_NotifyResult.scss';
@import './components/_CreateEvent.scss';
@import './components/_Calendar.scss';
@import './components/_Authenticate.scss';
@import './components/CreateEvent/_EventDateSet.scss';

/* ./utilities/_grid.scss */
#root {
  position: absolute;
  top:0;
  width:100%;
  height:100%;
  background: HSLA(0, 0%, 97%, 1);
  font-family:'Helvetica';
  //font-family:'Open Sans';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow:hidden;
  * {
    box-sizing: border-box;
  }

  .site-main {
    display: flex;
    flex-wrap:nowrap;
    flex-grow:1;
    flex-shrink:1;
    flex-basis:auto;
    flex-direction: column;
    height:100%;
    padding-top:40px;
    padding-left:180px + 15px;
    padding-right:180px + 13px;
    z-index:1;
    >div {
      display: flex;
      flex-grow:1;
      flex-shrink:1;
      flex-basis:auto;
      flex-direction: column;
    }
    .site-main-header {
      display: flex;
      color:darken(white,77%);
      font-size:18px;
      font-weight:500;
      margin-top:16px;
      margin-bottom:10px;
      .header-title {
        width:100%;
        span, >div {
          display: inline-block;
        }
        >div {
          &:hover {
            cursor: pointer;
          }
          &:before {
            content: ',';
            margin-right:8px;
          }
          &:first-child {
            &:before {
              content: '';
            }
          }
        }
      }
    }
  }
}

/* place this */
.search-field {
  width:100%;
  color:darken(white,70%);
  font-weight:400;
  padding:5px 5px 5px 5px;
  border:1px solid darken(white,14%);
  border-radius:1px;
  box-shadow: 0 1px 0 rgba(black,.01);
  @include placeholder {
    color:darken(white,55%);
    font-weight:300;
  }
}
.search-picked {
  width:100%;
  padding-top:5px;
  margin-top:5px;
}
.search-suggested {
  position: absolute;
  top:37px;
  width:100%;
  width:100%;
  background: #FAFAFA;
  padding-top:5px;
  border:1px solid #DBDBDB;
}
.friend-suggest .search-suggested {
  top: auto;
}


.detail-result {
  display: flex;
  align-items: center;
  width:100%;
  padding:0 5px 0 5px;
  margin-bottom:5px;
  .result-picture {
    width:25px;
    height:25px;
    margin-right:5px;
    img {
      width:100%;
    }
  }
  .result-name {
    color:darken(white,60%);
    font-size:14px;
    font-weight:400;
    line-height: 1.4;
    margin-top:1px;
    margin-right:auto;
    @include ellipsis(80%);
  }
  .result-remove, .result-add {
    color:#D4D4D4;
    font-size:12px;
    opacity: 0;
    &:hover {
      color:darken(#D4D4D4,25%);
    }
  }
  &:hover {
    background: rgba(black,.02);
    cursor: pointer;
    .result-remove {
      opacity: 1;
    }
  }
}


/* added members */
.friend-suggest {
  width:180px;
  z-index: 10;
  .suggest-wrap {
    position: relative;
    width:100%;
    .search-suggested {
      top:39px;
    }
    .search-field {
      width: 100%;
      background-color: darken(white,2%);
      color: #4d4d4d;
      font-weight: 400;
      padding: 4px 5px 4px 5px;
      border: 1px solid lighten(#dbdbdb,2%);
      border-radius: 1px;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.01);
    }
  }
}

/* compare members */
.compare-schedules {
  width:100%;
  height:auto;
  .search-field {
    width: 100%;
    background-color: darken(white,2%);
    color: #4d4d4d;
    font-weight: 400;
    padding: 8px 5px 4px 5px;
    border: 1px solid lighten(#dbdbdb,2%);
    border-radius: 1px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.01);
    margin-top:5px;
    margin-bottom:3px;
    &:focus {
      background: darken(white,0.5%);
    }
  }
}
